
body {
    background-color: lightgray;
}
h1 {
    color: #4aaaa5;
    padding-left: 20px;
}

.landing {
    background-color: white;
    width: 750px;
    height: 530px;
    display: inline-block;
    vertical-align: top;
    color: black;
}

.comparison {
    width:900px;
    height:570px;
    background-color: white;

}
.visualizations {
    background-color: white;
    width: 300px;
    height: 300px;
    display: block;
    margin-left: 20px;

}

.data {
    background-color: white;
    width:80%;
    margin-top:30px;
    margin-left:100px;
    margin-right:60px;
    color:black;
}

.max-temperature {
    background-color: white;
    width: 750px;
    height: 530px;
    vertical-align: top;
    color: black;
}
.humidity {
    background-color: white;
    width: 750px;
    height: 530px;
    vertical-align: top;
    color: black;
}
.cloudiness {
    background-color: white;
    width: 750px;
    height: 530px;
    vertical-align: top;
    color: black;
}

.wind-speed {
    background-color: white;
    width: 750px;
    height: 530px;
    vertical-align: top;
    color: black;
}
.col-6 {  
    float: left;
    width: 70%;
    padding: 5px;
    display: block;


}
.col-5 {  
    float: left;
    width: 50%;
    padding: 5px;
    display: block;


}
.summary {
    width:600px;
}
.landing-summary {
    width:600px;
    padding-bottom:40px;
}
.summarywords {
    font-size: 20px;
    width: 700px;
 }


.fig1 {
    width: 200px;
    height: 200px;
    float: left;


}
p {
    font-size: 16px;
}

.navbar-brand {
    background-color: #4aaaa5;
    font-size: 20px;
    padding: 10px;
    
}

nav {
    display: inline-block;
    background-color: white;
 }
 

 .parent-container {
    padding-top: 30px;
    padding-left: 200px;
 

 }

.navbar-custom .navbar-brand { 
    color: white; 
}

.navbar-nav > li > .dropdown-menu {
    background-color:white;  
}
.navbar-nav > li > .dropdown-menu a {
     color: black; 
 }

 .text-center {
    color:#4aaaa5;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
 }

.dataframe {
    color:black;

}

table { 
    border-collapse: collapse; 
    margin-left: 30px;
    margin-top: 30px;
    width: 90%; 
    background-color:white;
} 
  
th, td { 
    text-align: left; 
    padding: 8px; 
} 
tr { 
    border: solid;
    border-width: 1px 0;
  }


tr:nth-child(even) { 
    background-color: #f2f2f2;
}

tr:first-child {
    border-top: none;
}

tr:last-child {
    border-bottom: none;
}

.table-heading{
    text-decoration: underline;
}

.data-instruct {
    padding-left:20px;
}